page-ireland-map {
  #map {
    height: 100%;
    width: 100%;
  }
  
  .custom-popup .leaflet-popup-content-wrapper {
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-popup .leaflet-popup-tip-container {
    visibility: hidden; /* Hide default popup arrow */
  }
  
  .popup-content h4 {
    margin: 0 0 10px;
    font-size: 1.4em;
    color: #007bff;
    text-align: center;
  }
  
  .popup-content p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .popup-content i {
    margin-right: 10px;
    color: #007bff;
    font-size: 1.2em;
  }
  
  .popup-time {
    color: #333;
  }
  
  .popup-temp {
    color: #e74c3c; /* Temperature in red */
  }
  
  .popup-wave {
    color: #3498db; /* Wave height in blue */
  }
  
  
}

  